
<template>
<div>
    <v-text-field
      label="Delete Id"
      placeholder="Remove Id and press Enter or Delete"
      @keyup.enter="deleteButton" required >
    </v-text-field>
  <v-btn @click="deleteButton"
  color="info">Delete</v-btn>
</div>
</template>


<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { HttpService } from "./../service/httpService";
import { DtoModel } from "./../models/dtomodel";
import { AppBuffer } from '@/models/models';
import * as $ from "jquery";

@Component({
  
})
export default class Delete extends Vue {
    private deleteButton:Function;
    private readonly httpservice: HttpService;
    constructor() {
        super();
        this.httpservice = HttpService.getInstance();
        this.deleteButton = ()=>{
            const t = $("[aria-label='Delete Id']").val();
            if(t == null) return;
            this.httpservice.delete(AppBuffer.url, t.toString());
        }
    }

    @Prop() private pageTitle!: string;

    mounted() { }
}
</script>