<template>
  <div>
    <v-alert  value="none" dismissible type="success">
      {{pageTitle}}
    </v-alert>
    <v-data-table  
        :headers="headers" 
        :items="listitems" 
        hide-actions
        class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-center">{{ props.item.name }}</td>
          </tr>
        </template>
    </v-data-table>
    <template>
  <div class="text-xs-center">
    <v-container>
      <v-layout justify-center>
        <v-flex xs8>
          <v-card>
            <v-card-text>
              <v-pagination
                :length="countPage"
                :value="currentPage"
                @input="input"
              ></v-pagination>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
    </div>
</template>

<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { HttpService } from "./../service/httpService";
import { AppBuffer, PageInfo, TableModel, ItemModel,PaginationModel} from "./../models/models";
//import { CountryModel } from "./../models/countrymodel";
import axios from "axios";
import Rx from "rxjs/Rx";
import store from './../store'
import router from './../router'

@Component({
  computed:{
    listitems(){
      return this.$store.getters.getgrid.items;
    },
     headers(){
      return this.$store.getters.getgrid.headers;
    },
    countPage(){
      return this.$store.getters.getpagging.countPage;
    },
     currentPage(){
      return this.$store.getters.getpagging.currentPage;
    }
  }
})
export default class Grid extends Vue {
  private readonly httpservice: HttpService;
  private pagModel: PaginationModel;
  private input: Function;
  private onLoad: Function;
  constructor() {
    super();
    this.httpservice = HttpService.getInstance();
    this.pagModel = new PaginationModel();
    this.input = (n: number) => {
      //router.replace(AppBuffer.router + "/" + n + "/" + this.pagModel.sizePage);
      //router.push("/?page=" + n + "&pageSize=" + this.pagModel.sizePage);
      //router.push({ path: AppBuffer.router, params:{ page: n.toString(), pageSize: this.pagModel.sizePage.toString() }});
      this.onLoad(n);
    };
    this.onLoad = (n:number) => {
      this.pagModel.currentPage = n;
      this.httpservice
        .getRange(AppBuffer.url, this.pagModel.currentPage, 
        this.pagModel.sizePage);
    };
  }
  
  @Prop() private pageTitle!: string;

  mounted() {
    if (AppBuffer.url == null) {
      console.log("AppBuffer.url == null");
      return;
    }
    this.onLoad(1);
  }
}
</script>