
<template>
<div>
    <v-text-field
      label="Name"
      placeholder="Enter the name and press Enter or Post"
      @keyup.enter="postButton" required
      v-model="dtoName">
    </v-text-field>
  <v-btn @click="postButton"
  color="info">Post</v-btn>
</div>
</template>


<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { HttpService } from "./../service/httpService";
import { DtoModel } from "./../models/dtomodel";
import { AppBuffer } from '@/models/models';
import * as $ from "jquery";

@Component({
  
})
export default class Post extends Vue {
    public dtoName:string;
    private postButton:Function;
    private readonly httpservice: HttpService;
    constructor() {
        super();
        this.httpservice = HttpService.getInstance();
        this.dtoName = "";
        this.postButton = ()=>{
            //this.dtoName todo не читает
            const t = $("[aria-label='Name']").val();
            if(t == null) return;
            const m = new DtoModel();
            m.name = t.toString();
            this.httpservice.post(AppBuffer.url, m);
        }
    }

    @Prop() private pageTitle!: string;

    mounted() { }
}
</script>