
<template>
<div>
    <v-text-field
      label="Id"
      type="number"
      placeholder="Id"
      required>
    </v-text-field>
    <v-text-field
      label="New Name"
      placeholder="Enter the name and press Enter or Put"
      @keyup.enter="putButton" required
      v-model="dtoName">
    </v-text-field>
  <v-btn @click="putButton"
  color="info">Put</v-btn>
</div>
</template>


<script lang="ts">
import { Prop, Component, Vue } from "vue-property-decorator";
import { HttpService } from "./../service/httpService";
import { DtoModel } from "./../models/dtomodel";
import { AppBuffer } from '@/models/models';
import * as $ from "jquery";

@Component({
  
})
export default class Post extends Vue {
    public dtoName:string;
    public dtoId!:number;
    private putButton:Function;
    private readonly httpservice: HttpService;
    constructor() {
        super();
        this.httpservice = HttpService.getInstance();
        this.dtoName = "";
        this.putButton = ()=>{
            //this.dtoName todo не читает
            const t = $("[aria-label='New Name']").val();
            if(t == null) return;
            const t1 = $("[aria-label='Id']").val();
            if(t1 == null) return;
            if(t1 === "0") return;
            const m = new DtoModel();
            m.id = t1.toString();
            m.name = t.toString();
            this.httpservice.put(AppBuffer.url, m);
        }
    }

    @Prop() private pageTitle!: string;

    mounted() { }
}
</script>