<template>
  <div>
    <Post pageTitle="Country"/>
    <Put pageTitle="Country"/>
    <Delete pageTitle="Country"/>
    <Grid pageTitle="Country"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Grid from "@/components/Grid.vue"; 
import Post from "@/components/Post.vue";
import Put from "@/components/Put.vue";
import Delete from "@/components/Delete.vue";
import { Constants, AppBuffer } from "./../models/models";

@Component({
  components: {
    Grid, Post, Put,Delete
  }
})
export default class Country extends Vue {
  constructor() {
    AppBuffer.url = Constants.urlCountry;
    AppBuffer.router = "countries";
    super();
  }
  mounted() {}
}
</script>