<template>
  <div>
    <Post pageTitle="Region"/>
    <Put pageTitle="Region"/>
    <Delete pageTitle="Region"/>
    <Grid pageTitle="Region"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Grid from "@/components/Grid.vue"; 
import Post from "@/components/Post.vue";
import Put from "@/components/Put.vue";
import Delete from "@/components/Delete.vue";
import { Constants, AppBuffer } from "./../models/models";

@Component({
  components: {
    Grid,Post,Put,Delete
  }
})
export default class Region extends Vue {
  constructor() {
    AppBuffer.url = Constants.urlRegion;
    AppBuffer.router = "regions";
    super();
  }
  mounted() {}
}
</script>
