<template>
    <div>
        <v-alert  value="none" dismissible type="success">
          {{pageTitle}}
        </v-alert>
        <v-data-table  
            :headers="datatable.headers" 
            :items="datatable.items" 
            hide-actions
            class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs-right">{{ props.item.name }}</td>
            </template>
        </v-data-table>
        </div>
</template>