<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" fixed app>

        <v-list class="pa-1"> 
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="./assets/pip.png" >
            </v-list-tile-avatar>
  
            <v-list-tile-content>
              <v-list-tile-title>Maxim Paramonov</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

      <v-list class="pt-0" dense>

        <v-divider></v-divider>

        <v-list-tile v-for="item in items" :key="item.title" :to = "item.route" >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
  
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Geo</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex text-xs-center>
           <router-view/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
export default {
  data: () => ({
    drawer: null,
    items: [
      { title: "Country", icon: "public", route: "countries" },
      { title: "Region", icon: "photo_library", route: "regions" },
      { title: "City", icon: "panorama", route: "cities" }
    ]
  }),
  props: {
    source: String
  }
};
</script>